.add-book {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    padding: 4em;
    background: rgba(24, 30, 44, 0.95);

    top: 50%;
    left: 50%;
    width: 40em;
    height: 20em;
    margin: -14em 0 0 -24em;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    border-radius: 2em;
}

.add-book__name, .add-book__author, .add-book__picture, .add-book__button {
    font-size: 1.2em;
    padding: 0.5em;
    width: 70%;
    border: 1px solid rgba(24, 30, 44, 0.95);
    border-radius: 1em;
    outline: none;
}

.add-book__button {
    width: 50%;
    padding: 0.5em 0;

    background: #f2795a;
    border: 0;
    border-radius: 0.5em;
    outline: 0;
    color: white;
    font-size: 2em;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

.add-book__button:hover {
    box-shadow: 0px 0px 70px 20px #f2795a;
}