.book {
    width: 15em;
    height: 25em;
    padding: 1em;
    display: flex;
    flex-flow: column;
    color: #181e2c;
    cursor: pointer;
    transition: height 1s ease;
    flex-shrink: 0;
}

.book:hover {
    background: lightblue;
}

.book__image {
    width: 100%;
    height: 80%;
    border-radius: 1em;
}

.book__name { 
    font-size: 1.4em;
    margin: 0.3em 0;
    display: block;
}

.book__author::before {
    content: "by "
}

.book__author {
    color: #788097;
    display: block;
}

.book__rating {
    display: none;
}