.filters {
    display: flex;
    flex-flow: row;
    list-style: none;
}

.filters__item {
    color: #788097;
    background: none;
    border-radius: 1em;
    padding: 0.25em 0.5em;
    text-align: center;
    cursor: pointer;
}

.filters__item_highlighted {
    color: white;
    background: #788097;
}