.header {
    background: #2f3649;
    color: #788097;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    height: 3em;
}

.header__menu {
    display: flex;
    flex-flow: row;
}



.footer__menu {
    display: flex;
    flex-flow: row;
    color: white;
}

.footer {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    background: #181e2c;
    height: 3em;
}
