* {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
	display: flex;
	flex-flow: column;
}

body, html {
	height: 100%;
}

body {
	background: url('../img/gameOfLife.png');
}

.wrapper {
	margin: auto;
	max-width: 50em;
	height: 100%;
	display: flex;
	flex-flow: row;
	font-family: 'Nunito Sans';
}

.side-menu {
	color: white;
	min-width: 10em;
	max-width: 13em;
	background: #342E3A;
	display: flex;
	flex-flow: column;
	width: 40em;
	overflow-y: scroll;
	overflow-x: hidden;
}

.side-menu__item {
	flex-shrink: 0;
	background: #131313;
}

.site-title {
	padding: 0.5em;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	color: #F4276D;
	text-align: center;
}

.site-title__text {
	font-size: 1.6em;
}

.link-list {
	flex-grow: 1;
}

.link-list * {
	color: #A7E137;
}

.link-list_blue * {
	color: #5FC8CB;
}

.link-list__item {
	padding: 0.5em 0 0.5em 1em;
}

.link-list__item:hover {
	background: #484840;
}

.search {
	width: 100%;
}

::-webkit-input-placeholder {
	color: #5FC8CB;
	font-style: italic;
	font-family: 'Nunito Sans';
}

::-webkit-scrollbar {
	display: none;
}

.search__input {
	border: 0;
	outline: 0;
	background: white;
	padding: 0.5em 0 0.5em 1em;
	width: 100%;
	color: #5FC8CB;
	font-style: italic;
}

.content {
	padding: 1em;
	background: #272822;
	color: white;
	padding: 1em 4em 1em 4em;
	overflow-y: scroll;
	text-align: justify;
}

.content__title {
	margin-bottom: 0.5em;
	color: #A7E137;
	font-size: 2em;
	margin: auto;
	display: inline-block;
}

p {
	margin-bottom: 1em;
}

img {
	width: 100%;
	margin-bottom: 0.5em;
}

.part {
	display: flex;
	flex-flow: row wrap;
	font-size: 12px;
}

.part__input {
	width: 100px;
	margin: 5px;
}

.part__input * {
	width: 80px;
}

.color {
	width: 80px;
	display: flex;
	flex-direction: column;
}

.color__input {
	width: 150px;
}

.color__input * {
	width: 80px;
}