.menu-block {
    list-style: none;
    margin-top: 0.2em;
    background: #1f2638;
    color: #788097;
    padding: 0.5em 0;
}

.menu-block__item {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0.7em;
    
}

.menu-block__item_highlighted {
    color: white;
    background: #15a4fa;
}

.menu-block__pic::before {
    padding: 0 0.5em;
}

.menu-block__text {
    
}

.menu-block__button {
    margin: auto;
    width: 90%;
    padding: 0.5em 0;

    background: #f2795a;
    border: 0;
    border-radius: 0.5em;
    outline: 0;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    transition: 0.5s;
}

.menu-block__button:hover {
    box-shadow: 10px 10px 86px 0px dodgerblue;
}


.menu-block__add-a-book {
    min-width: 10em;
    min-height: 10em;
    display: flex;
    flex-flow: column;
    margin-top: 0;
    padding-right: 0;
}

.menu-block__book-name, .menu-block__book-author, .menu-block__book-picture {
    margin: auto;
    width: 80%;
    border: #1f2638;
    outline: 0;
    border-radius: 0.5em;
    padding: 0.3em 1em;
}

.menu-block__navigation {

}

.menu-block__categories {

}

.menu-block__activity {
    flex-grow: 1;
}


.menu-block__pic.fa-circle {
    margin-top: -0.5em;
}

.menu-block__pic.fa-circle::before {
    font-size: 0.5em;
    padding: 0 1.5em;
    margin: auto;
}


.menu-block__pic_top {
    align-self: flex-start;
    padding-top: 0.2em;
}

.menu-block__pic_orange {
    color: orange;
}

.menu-block__pic_yellow {
    color: yellow;
}

.menu-block__pic_cyan {
    color: cyan;
}

.menu-block__pic_violet {
    color: violet;
}

.menu-block__pic_button::before {
    padding: 0!important;
}

.menu-block__text {

}

.menu-block__text_pale {
    color:#3e4558;
}

.menu-block__timestamp {
    display: block;
    margin-top: 1em;
    color:#3e4558;
}