.table {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    margin-bottom: 5px;
}

.trial {
    display: flex;
    flex-direction: row;
}

.field {
    width: 80px;
}

.row > .field:last-child {
    width: 100px;
}

.gate {
    width: 20px;
}

.tableWrapper {
    margin-bottom: 80px;
}